<table class="min-w-full bg-white border border-gray-200 rounded-lg overflow-hidden">
    <thead class="bg-gray-100">
        <tr>
            @for (name of tHeadData; track $index) {

            }
            <th class="px-4 py-3 text-left text-xs font-bold text-gray-600 uppercase">
                Nome
            </th>
            <th class="px-4 py-3 text-left text-xs font-bold text-gray-600 uppercase">
                Preço
            </th>
            <th class="px-4 py-3 text-left text-xs font-bold text-gray-600 uppercase">
                Categoria
            </th>
            <th class="px-4 py-3 text-center text-xs font-bold text-gray-600 uppercase">
                Ações
            </th>
        </tr>
    </thead>
    <tbody class="divide-y divide-gray-200">
        <tr class="hover:bg-gray-50 transition">
            <td class="px-4 py-2 text-sm">Farinha</td>
            <td class="px-4 py-2 text-sm">R$ 59,60</td>
            <td class="px-4 py-2 text-sm">Alimentos</td>
            <td class="px-4 py-2 text-sm flex justify-center items-center gap-1">
                <a class="block p-1.5 rounded bg-yellow-600 hover:bg-yellow-700 transition"
                    routerLink="/categorias/id/editar">
                    <i class="fa-solid fa-pen-to-square text-xl text-gray-50 align-bottom"></i>
                </a>
                <a class="block p-1.5 rounded bg-red-400 cursor-pointer hover:bg-red-500 transition" onclick="">
                    <i class="fa-solid fa-trash text-xl text-gray-50 align-bottom"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>